@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.simpleCard {
  width: 340px;
  /* float: left; */
  margin: 10px 0;
}
.simpleCard {
  height: auto;
  background: transparent;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}
.simpleCard .card_top {
  width: 100%;
  height: auto;

  overflow: hidden;
  background: transparent;
}
.simpleCard .card_top img {
  width: 100% !important;
  height: auto;
  margin-bottom: 0;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  position: relative;
}
.simpleCard .card_bottom {
  width: 100%;
  padding: 10px;
  background: #000000;

  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
}
.simpleCard .card_bottom h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  margin: 10px 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
}

.simpleCard .card_bottom__details ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 7px 0;
}
.simpleCard .card_bottom__details ul li {
  /* display: inline; */
  color: #e3e3e3;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 0 0px 0 0;
  margin: 0;
}
.simpleCard .card_bottom__rating__stars {
  position: relative;
  right: 160px;
  margin: 10px 0 10px 0;
  /***** CSS Magic to Highlight Stars on Hover *****/
  /* hover previous stars in list */
}
.simpleCard .card_bottom__rating__stars fieldset,
.simpleCard .card_bottom__rating__stars label {
  margin: 0;
  padding: 0;
}
.simpleCard .card_bottom__rating__stars .rating {
  border: none;
}
.simpleCard .card_bottom__rating__stars .rating > input {
  display: none;
}
.simpleCard .card_bottom__rating__stars .rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  content: "\f005";
  font-family: FontAwesome;
}
.simpleCard .card_bottom__rating__stars .rating > .half:before {
  content: "\f089";
  position: absolute;
}
.simpleCard .card_bottom__rating__stars .rating > label {
  color: #ddd;
  float: right;
}
.simpleCard .card_bottom__rating__stars .rating > input:checked ~ label,
.simpleCard .card_bottom__rating__stars .rating:not(:checked) > label:hover,
.simpleCard
  .card_bottom__rating__stars
  .rating:not(:checked)
  > label:hover
  ~ label {
  color: #ffd700;
}
.simpleCard .card_bottom__rating__stars .rating > input:checked + label:hover,
.simpleCard .card_bottom__rating__stars .rating > input:checked ~ label:hover,
.simpleCard
  .card_bottom__rating__stars
  .rating
  > label:hover
  ~ input:checked
  ~ label,
.simpleCard
  .card_bottom__rating__stars
  .rating
  > input:checked
  ~ label:hover
  ~ label {
  color: #ffed85;
}
.simpleCard .card_bottom__review p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}
.simpleCard .card_bottom__review a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 0 0 0 40px;
  color: #ffda00;
  margin: 0;
}
.simpleCard .card_bottom__button {
  padding: 0 0 0 40px;
  margin: 10px 0 10px 0;
}
.simpleCard .card_bottom__button a {
  color: #ffda00;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #ffda00;
  padding: 5px 5px 5px 25px;
  font-size: 10px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.simpleCard .card_bottom__button a:hover {
  color: #000000;
  background-color: #ffda00;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
