.card {
  width: 100%;
  margin: 0 auto;
  background-size: 100%;
}
.card-content--overlayed {
  position: absolute;
  width: 100%;
  min-height: 100px;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  bottom: 0px;
}

// .slick-container {
//   height: 60%;
// }

.slick-slide {
  padding: 0 5px;
  box-sizing: border-box;
}

// .card-image img {
//   height: 100% !important;
//   width: 100%;
//   object-fit: cover;
// }
